<h1 style="color:black;font-size:30px;text-align:center; color:blue;">All Tweets</h1>
<%= link_to 'New Tweet', new_tweet_path,class:"btn btn-success",style:"float:right;" %>
<p id="notice"><%= notice %></p>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Post</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.username %></td>
        <td><%= tweet.post %></td>
        <td><%= link_to 'Details', tweet,class:"btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_tweet_path(tweet),class:"btn btn-warning" %></td>
        <td><%= link_to 'Delete', tweet,class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure? you want to delete' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

